@import "tailwindcss";

@theme {
  --color-primary: #003847;
  --color-primary-dark: #00222b;
  --color-secondary: #F5B400;
  --color-secondary-hover: #d99f00;
  --color-accent: #1BC95B;
  --color-background: #FFFFFF;
  --color-section: #F7F8FA;
  --color-text-main: #1C1C1C;
  --color-border-main: #EAEAEA;
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
